# Auto-detect text files and perform LF normalization
* text=auto

# Custom for binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.jar binary
*.keystore binary
*.keystore.base64 binary
